*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    color: #000;
}

body {
    background-color: #081b29;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 18px;
}

ul {
    list-style: none;
}

main {
    margin: 1rem;
    display: grid; 
    grid-template-columns: 30% 1fr;
    grid-gap: 1rem;
}

.left {
    background-color: #e8f1f2;
    box-shadow: 0 0 10px #081b29;
    border-radius: 10px;
}

.foto {
    position: relative;
}

.foto img {
    width: 100%;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}

.foto h1 {
    position: absolute;
    bottom: 1rem;
    color: #fff; 
    text-align: center;
}

i {
    color: #081b29;
}


.pessoais, .habilidades, .idiomas, .experiencias {
        color: #000;
        line-height: 2rem;
}

progress {
    width: 100%;
    height: 1.8rem;
}

.sobre, .experiencias, .educacao, .metas {
    padding: 1.5rem;
    background-color: white;
    box-shadow: 7px 7px 10px #081b29;
    border-radius: 10px;
}

.sobre p {
    margin-top: 1 rem;

}

.experiencias, .educacao {
    margin-top: 1rem;
}

.trabalho, .curso {
    margin: 1.5rem 0;
    font-weight: bold;
}

.nome-trabalho, .nome-curso {
    font-size: 1.3rem;
    font-weight: bold;
}

.trabalho p, .educacao p {
    margin-top: 0.5rem;
    line-height: 1.5rem;
    text-align: justify;
}

.data {
    color: #081b29;
}

.atual {
    background-color: #081b29;
    color:#fff;
    padding: 0.1rem 1rem;
    border-radius: 5px;
}

footer {
    background-color: #081b29;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    line-height: 1.5rem;
}

footer p {
    color: #fff;
}

footer i {
    margin-top: 0.5rem;
    color: white;
    font-size: 32px;
}

@media (max-width: 880px) {
    main{
        display:grid;
        grid-template-columns: 1fr;
    }
}